{% extends 'common/base.html' %}
{% block title %}
  Inicio sesión
{% endblock %}

{% block main %}
  <h2 class="text-center" >Inicio de sesión</h2>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <section class="d-flex align-items-center flex-column justify-content-center my-4" >
      <form method="post" >
        {% csrf_token %}
        <div class="form-group mt-2">
          <label for="username">Nombre de usuario</label>
          <input type="email" class="form-control" id="username" name="username" />
        </div>
        <div class="form-group mt-2">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
    
        <div class="mt-5 d-flex justify-content-between">
          <button class="btn btn-primary" type="submit">Ingresar</button>
          <a class="btn btn-secondary" href="{% url 'inventory:home' %}">Volver</a>
        </div>
      </form>
    
      <a class="link-info link-underline" href="{% url 'account:register' %}">Crear una cuenta</a>
  </section>
{% endblock %}
